<div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card ml-5 mr-5">
          <div class="card-body">
            <div class="titleSec">
              <div class="row">
                <div class="col-sm-6">
                  <h2>
                    <b><span class="badge badge-light" style="
                            border-radius: 8px;
                            color: rgb(15, 15, 15);
                            font-weight: 500;
                            padding: 8px 15px;
                          "><i class="fa fa-wrench"></i>&nbsp; Settings</span></b>
                  </h2>
                </div>
                <div class="col-sm-6">
                  <a type="button" class="btn btn-primary" title="Add" id="myBtn" href="/settings/add_settings"
                    style="border-radius: 8px; float: right">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
  
              <table class="table table-striped table-bordered no-wrap mt-3" id="showdetails" style="width:100%">
                <thead>
                  <tr>
                    <th style="color: black;">Sl. No.</th>
                    <th style="color: black;">Company Name</th>
                    <th style="color: black;">GST Flag</th>
                    <th style="color: black;">Customer Info</th>
                    <th style="color: black;">Pay Mode</th>
                    <th style="color: black;">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <%  data.forEach(function(item,index) { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td>
                                            <%= item.company_name %>
                                        </td>
                                        <td>
                                            <%= item.gst_flag %>
                                        </td>
                                        <td>
                                            <%= item.cust_inf %>
                                        </td>
                                        <td>
                                            <%= item.pay_mode %>
                                        </td>
                                        <td>
                                           <a href="/settings/edit_settings?comp_id=<%= item.comp_id %>"class='btn btn-info' style='border-radius:6px'><i class='fa fa-edit'></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>