<!DOCTYPE html>
<html dir="ltr" lang="en">
<% if(path !='/login' ){ %>
    <%- include('header.ejs') %>
        <% }else{ %>
            <%- include('login_header.ejs') %>
                <% } %>

                    <body>
                        <!-- ============================================================== -->
                        <!-- Preloader - style you can find in spinners.css -->
                        <!-- ============================================================== -->
                        <div class="preloader">
                            <div class="lds-ripple">
                                <div class="lds-pos"></div>
                                <div class="lds-pos"></div>
                            </div>
                        </div>
                        <% if(path !='/login' ){ %>
                            <!-- ============================================================== -->
                            <!-- Main wrapper - style you can find in pages.scss -->
                            <!-- ============================================================== -->
                            <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6"
                                data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed"
                                data-boxed-layout="full">
                                <%- include('topbar.ejs') %>
                                    <%- include('sidebar.ejs') %>
                                        <div class="page-wrapper">
                                            <%- body %>
                                        </div>
                                        <%- include('footer.ejs') %>
                            </div>
                            <script src="/libs/popper.js/dist/umd/popper.min.js"></script>
                            <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
                            <!-- apps -->
                            <!-- apps -->
                            <script src="/dist/js/app-style-switcher.js"></script>
                            <script src="/dist/js/feather.min.js"></script>
                            <script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
                            <script src="/dist/js/sidebarmenu.js"></script>
                            <!--Custom JavaScript -->
                            <script src="/dist/js/custom.min.js"></script>
                            <!--This page JavaScript -->
                            <script src="/extra-libs/c3/d3.min.js"></script>
                            <script src="/extra-libs/c3/c3.min.js"></script>
                            <script src="/libs/chartist/dist/chartist.min.js"></script>
                            <script src="/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
                            <script src="/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
                            <script src="/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
                            <script src="/dist/js/pages/dashboards/dashboard1.min.js"></script>
                            <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet" />
                            <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

                            
                            <script>
                                var table = $('#dataTable').DataTable()
                            </script>
                            <% } else { %>
                                <div class="main-wrapper">
                                    <%- body %>
                                </div>
                                <%- include('login_footer') %>
                                    <% } %>
                    </body>



<!-- The Modal -->
<div class="modal fade" id="myAccount">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header" style="background-color: aliceblue;">
    <h3 class="modal-title"><i data-feather="user"
    class="svg-icon mr-2 ml-1" style="color: black;"></i><b style="color: black;">Store Profile&nbsp; </b></h3>
    <button type="button" class="close" data-dismiss="modal">
    &times;
    </button>
    </div>
    <!-- Modal body -->
    <div class="modal-body" style="background-color: antiquewhite;">
   
    <form action="/save_my_profile" method="post">
    <div class="row" style="align-items: center;margin-left: 5vw;">
    <div class="col-md-10">
    <h4 class="badge badge-success" style="font-size: 21px;margin-left: 25vw;"></h4>
    <div class="row mt-4 ml-5">
    <div class="form-group col-md-4">
    <label for="loc_id"><b style="color: black;">Location Name:</b></label>
    <select name="loc_id" class="form-control" id="loc_id" required>
    <option value="">Select Location Name</option>
    </select>
    </div>
    <div class="form-group col-md-4">
    <label for="phone"><b style="color: black;">Phone No:</b></label>
    <input type="text" id="phone" name="phone" class="form-control" value="" />
    </div>
    <div class="form-group col-md-4">
    <label for="email_id"><b style="color: black;">Email:</b></label>
    <input type="text" id="email_id" name="email_id" class="form-control" value="" />
    </div>
    </div>
    <div class="row ml-5">
    <div class="form-group col-md-4">
    <label for="mode"><b style="color: black;">Mode:</b></label>
    <input type="text" id="mode" name="mode" class="form-control" value="" readonly style="background-color: #b0cfec;"/>
    </div>
    <div class="form-group col-md-4">
    <label for="device"><b style="color: black;">No. of Device:</b></label>
    <input type="text" id="device" name="device" class="form-control" value="" readonly style="background-color: #b0cfec;"/>
    </div>
    <div class="form-group col-md-4">
    <label for="dev_type"><b style="color: black;">Device Type:</b></label>
    <input type="text" id="dev_type" name="dev_type" class="form-control" value="" readonly style="background-color: #b0cfec;"/>
    </div>
    </div>
    <div class="row ml-5">
    <div class="form-group col-md-12">
    <label for="cust_add"><b style="color: black;">Customer Address:</b></label>
    <textarea id="cust_add" name="cust_add" class="form-control" rows="4"></textarea>
    </div>
    </div>
    </div>
    <div class="row mt-3">
    <button type="submit" class="btn btn-primary" style="border-radius: 5px;margin-left: 31vw;">Submit</button>
    </div>
    </div>
    </div>
    </form>
    
    </div>
    <!-- Modal footer -->
    <div class="modal-footer" style="background-color: aliceblue;">
    <!-- <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    >
    Close
    </button> -->
    </div>
    </div>
    </div>
    </div>                    

</html>