<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="col-sm-6 mt-3">
                <i class='fas fa-file-invoice' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;color: black;">Billing Report Details</span style="font-size: 25px;"></i>&nbsp;
                  <ul class="breadcrumb">
                    <li><a href="/report/collection_report">Billing Report</a></li>&nbsp; / &nbsp;
                    <li>Billing Report Details</li>
                  </ul>
                </div>
            <div class="card-body" id="tableData">
                <div class="table-responsive"  id="divToPrint">
                    <center>
                        <h5 class="" style="color: black;"><b><%= comp_dt[0].company_name %></h5></2>
                        <h5 class="" style="color: black;"><b><%= comp_dt[0].address %></h5></b>
                        <label style="color: black;"><b>Phone No:&nbsp;<span style="color: black;"><%= comp_dt[0].phone_no %></span></b></label>&nbsp;&nbsp;
                        <label style="color: black;"><b>Email Id:&nbsp;<span style="color: black;"><%= comp_dt[0].email_id %></span></b></label>
                    </center>
                <center>
                    <h5 class="card-title">Billing Report Between <%= dateFormat(frm_dt, "dd/mm/yyyy" ) %> to <%=
                                dateFormat(to_dt, "dd/mm/yyyy" ) %>
                    </h5>
                </center>
                <label><b>Location:&nbsp;<span style="color: black;"><%= data[0].branch_name %></span></b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><b>User Name:&nbsp;<span style="color: black;"><%= data[0].created_by %></span></b></label>
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th><b style="color: black;">Sl No.</b></th>
                                <th><b style="color: black;">Mode</b></th>
                                <th><b style="color: black;">Amount</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var tot_amt=0;
                                data.forEach(function(item,index) { tot_amt
                                +=item.net_amt;%>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td>
                                        <%= pay_mode[item.pay_mode] %>
                                    </td>
                                    <td>
                                        <%= item.net_amt %>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2"><b style="color: black;">Total</b></th>
                                    <th><b style="color: black;">
                                        <%= tot_amt %>
                                    </b></th>
                                </tr> 
                            </tfoot>
                    </table>
                </div>
                <div class="mt-2" id="btnclass">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="printMe" onclick="printDiv()" style="border-radius: 20px;">
                              Print
                            </button>
                            <button id="downloadBtn" class="btn btn-primary" style="border-radius: 20px;">Download Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function printDiv() {
  
        var divToPrint = document.getElementById('divToPrint');
  
        var WindowObject = window.open('', 'Print-Window');
        WindowObject.document.open();
        WindowObject.document.writeln('<!DOCTYPE html>');
        WindowObject.document.writeln('<html><head><title></title><style type="text/css">');
  
  
        WindowObject.document.writeln('@media print { .center { text-align: center;}' +
            '                                         .inline { display: inline; }' +
            '                                         .underline { text-decoration: underline; }' +
            '                                         .left { margin-left: 315px;} ' +
            '                                         .right { margin-right: 375px; display: inline; }' +
            '                                          table { border-collapse: collapse; font-size: 10px; width: 100%}' +
            '                                          th, td { border: 1px solid black; border-collapse: collapse; padding: 6px;}' +
            '                                           th, td { }' +
            '                                         .border { border: 1px solid black; } ' +
            '                                         .bottom { bottom: 5px; width: 100%; position: fixed ' +
            '                                       ' +
            '                                   } } </style>');
        WindowObject.document.writeln('<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">');    
        WindowObject.document.writeln('<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">');    
        WindowObject.document.writeln('<link rel="stylesheet" href="/css/adminlte.min.css">');    
        WindowObject.document.writeln('</head><body onload="window.print()">');
        WindowObject.document.writeln(divToPrint.innerHTML);
        WindowObject.document.writeln('</body></html>');
        WindowObject.document.close();
        setTimeout(function () {
            WindowObject.close();
        }, 8);
  
    }
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
    function exportTableToExcel(tableID, filename) {
      //const ws = XLSX.utils.book_new();
      const wb = XLSX.utils.book_new();
      const ws = XLSX.utils.table_to_sheet(document.getElementById(tableID));

      // Add a new row with the name "hello"
      XLSX.utils.sheet_add_aoa(ws, [
      
      ['Sl. No.', 'Receipt No.', 'Date', 'Qty', 'Price', 'Discount', 'CGST', 'SGST', 'Amount', 'Mode']]);

      // Add the worksheet to the workbook
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

      XLSX.writeFile(wb, filename);
      exit()

        const wbout = XLSX.write(ws, {
            bookType: 'xlsx',
            bookSST: true,
            type: 'binary'
        });

        function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        const blob = new Blob([s2ab(wbout)], {
            type: 'application/octet-stream'
        });
        saveAs(blob, filename);
    }

    document.addEventListener('DOMContentLoaded', function() {
        const downloadBtn = document.getElementById('downloadBtn');
        downloadBtn.addEventListener('click', function() {
            // Call the exportTableToExcel function, passing the table ID and desired filename
            exportTableToExcel('tableData', 'Collection_Report.xlsx');
        });
    });
</script>