<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2>
                            <b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i class="fa fa-edit"></i>&nbsp;Edit Item Details</span></b></h2>
                         <form method="POST" action="/items/save_edit_data" class="">
                            <div class="row mt-4">
                                <div class="form-group col-md-6">
                                    <label for="code"><b style="color: black;">HSN Code:</b></label>
                                    <input type="text" name="code" id="code" class="form-control" value="<%= item_edit_dt[0].hsn_code %>"
                                       disabled  />
                                </div>

                                 <div class="form-group col-md-6">
                                    <label for="item_name"><b style="color: black;">Item Name:</b></label>
                                    <select name="item_name" class="form-control s2id" id="item_name">
                                        <option value="">Select Item Name</option>
                                        <% item_dt.forEach(dt => { %>
                                            <% if (dt.item_name === item_edit_dt[0].item_name) { %>
                                                <option value="<%= dt.item_name %>" selected>
                                                    <%= dt.item_name %>
                                                </option>
                                            <% } else { %>
                                                <option value="<%= dt.item_name %>">
                                                    <%= dt.item_name %>
                                                </option>
                                            <% } %>
                                        <% }) %>
                                    </select>   
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="price"><b style="color: black;">Price:</b></label>
                                    <input type="text" name="price" id="price" class="form-control" value="<%= item_edit_dt[0].price %>"
                                    />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="discount"><b style="color: black;">Discount:</b></label>
                                    <input type="text" name="discount" id="discount" class="form-control" value="<%= item_edit_dt[0].discount %>"
                                    />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="cgst"><b style="color: black;">Cgst:</b></label>
                                    <input type="text" name="cgst" id="cgst" class="form-control" value="<%= item_edit_dt[0].cgst %>"
                                    />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="sgst"><b style="color: black;">Sgst:</b></label>
                                    <input type="text" name="sgst" id="sgst" class="form-control" value="<%= item_edit_dt[0].sgst %>"
                                    />
                                </div>

                                <input type="hidden" name="id" id="id" value="<%= id %>">    
                                <div class="form-group col-md-8 mt-3" style="margin-left: 29vw;">
                                    <button class="btn btn-warning" type="submit" value="SUBMIT" style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>