<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2>
                            <b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i
                                        class="fa fa-edit"></i>&nbsp;Edit Header Footer Details</span></b>
                        </h2>
                        <ul class="breadcrumb">
                            <li><a href="/header_footer/get_header_footer">Header Footer</a></li>&nbsp; / &nbsp;
                            <li>Edit Header Footer Details</li>
                          </ul>
                        <form method="POST" action="/header_footer/save_edit_data" class="">
                            <div class="row mt-4">
                                <div class="form-group col-9">
                                    <label for="comp_id" style="color: black;"><b>Company Name:</b></label>
                                    <select name="comp_id" class="form-control" id="comp_id" disabled>
                                        <option value="">Select Comapny Name</option>
                                        <% show_header_footer_dt.forEach(dt=> { %>
                                            <option value="<%= dt.comp_id %>" selected>
                                                <%= dt.company_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="header_1" style="color: black;"><b>Header 1</b>&nbsp;&nbsp;<span
                                                id="charCount1" class="char-count"><b>(0/25)</b></span></label>
                                        <textarea class="form-control" id="header_1" name="header_1" rows="2"
                                            placeholder="Enter Header1...." maxlength="25"
                                            oninput="updateCharCount('header_1','charCount1')"><%= show_header_footer_dt[0].header1 %></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3 cust-toggle1">
                                    <label for="header_1_flag" style="color: black;"><b>Header 1 Flag</b></label><br>
                                    <input type="checkbox" value="Y" id="header_1_flag" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="header_1_flag"
                                        <%=(show_header_footer_dt[0].on_off_flag1=='Y' )?'checked':''%>
                                    >
                                </div>

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="header_2" style="color: black;"><b>Header 2</b>&nbsp;&nbsp;<span
                                                id="charCount2" class="char-count"><b>(0/25)</b></span></label>
                                        <textarea class="form-control" id="header_2" name="header_2" rows="2"
                                            placeholder="Enter Header2...." maxlength="25"
                                            oninput="updateCharCount('header_2','charCount2')"><%= show_header_footer_dt[0].header2 %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="header_2_flag" style="color: black;"><b>Header 2 Flag</b></label><br>
                                    <input type="checkbox" value="Y" id="header_2_flag" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="header_2_flag"
                                        <%=(show_header_footer_dt[0].on_off_flag2=='Y' )?'checked':''%>
                                    >
                                </div>

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="footer_1" style="color: black;"><b>Footer 1</b>&nbsp;&nbsp;<span
                                                id="charCount3" class="char-count"><b>(0/25)</b></span></label>
                                        <textarea class="form-control" id="footer_1" name="footer_1" rows="2"
                                            placeholder="Enter Footer1...." maxlength="25"
                                            oninput="updateCharCount('footer_1','charCount3')"><%= show_header_footer_dt[0].footer1 %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="footer_1_flag" style="color: black;"><b>Footer 1 Flag</b></label><br>
                                    <input type="checkbox" value="Y" id="footer_1_flag" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="footer_1_flag"
                                        <%=(show_header_footer_dt[0].on_off_flag3=='Y' )?'checked':''%>
                                    >
                                </div>

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="footer_2" style="color: black;"><b>Footer 2</b>&nbsp;&nbsp;<span
                                                id="charCount4" class="char-count"><b>(0/25)</b></span></label>
                                        <textarea class="form-control" id="footer_2" name="footer_2" rows="2"
                                            placeholder="Enter Footer2...." maxlength="25"
                                            oninput="updateCharCount('footer_2','charCount4')"><%= show_header_footer_dt[0].footer2 %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="footer_2_flag" style="color: black;"><b>Footer 2 Flag</b></label><br>
                                    <input type="checkbox" value="Y" id="footer_2_flag" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="footer_2_flag"
                                        <%=(show_header_footer_dt[0].on_off_flag4=='Y' )?'checked':''%>
                                    >
                                </div>
                                <input type="hidden" id="com_id" name="com_id" value="<%= com_id %>">
                                <div class="form-group col-md-8 mt-3" style="margin-left: 29vw;">
                                    <button class="btn btn-warning" type="submit" value="SUBMIT"
                                        style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    updateCharCount('header_1', 'charCount1');
    updateCharCount('header_2', 'charCount2');
    updateCharCount('footer_1', 'charCount3');
    updateCharCount('footer_2', 'charCount4');
    function updateCharCount(textareaId, countId) {
        var textarea = document.getElementById(textareaId);
        var charCount = document.getElementById(countId);

        if (textarea && charCount) {
            var count = textarea.value.length;
            charCount.innerHTML = '<span style="font-weight: bold;">(' + count + '/25)</span>';
        }
    }
</script>