<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2>
                            <b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i class="fa fa-edit"></i>&nbsp;Edit Supplier Details</span></b></h2>
                                    <ul class="breadcrumb">
                                        <li><a href="/purchase/supplier_details">Supplier Details</a></li>&nbsp; / &nbsp;
                                        <li>Edit Item Details</li>
                                      </ul>
                         <form method="POST" action="/purchase/save_edit_data" class="">
                            <div class="row mt-4">
                                <div class="form-group col-md-6">
                                    <label for="id"><b style="color: black;">Supplier Id:</b></label>
                                    <input type="text" name="id" id="id" class="form-control" value="<%= sup_edit_dt[0].id %>"
                                       disabled  />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="supplier_name"><b style="color: black;">Supplier Name:</b></label>
                                    <input type="text" name="supplier_name" id="supplier_name" class="form-control" value="<%= sup_edit_dt[0].supplier_name %>" />   
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="gstin"><b style="color: black;">GSTIN:</b></label>
                                    <input type="text" name="gstin" id="gstin" class="form-control" value="<%= sup_edit_dt[0].gstin %>"
                                    />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="address"><b style="color: black;">Address:</b></label>
                                    <input type="text" name="address" id="address" class="form-control" value="<%= sup_edit_dt[0].address %>"
                                    />
                                </div>

                                <input type="hidden" name="id" id="id" value="<%= id %>">    
                                <div class="form-group col-md-8 mt-3" style="margin-left: 29vw;">
                                    <button class="btn btn-warning" type="submit" value="SUBMIT" style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>