<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2><i class="fa fa-caret-square-o-left"></i>
                            <b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i
                                        class="fa fa-plus"></i>&nbsp;<%= purchase_dt.length > 0 ? "Edit Purchase Details" : "Add Purchase Details" %></span></b>
                        </h2>

                        <ul class="breadcrumb">
                            <li><a href="/purchase/purchase_details">Purchase Details</a></li>&nbsp; / &nbsp;
                            <li><%= purchase_dt.length > 0 ? "Edit Purchase Details" : "Add Purchase Details" %></li>
                          </ul>

                        <form method="POST" action="/purchase/save_purchase_data" class="">
                            <div class="row mt-4">
                                <% console.log(purchase_dt) %>
                                <div class="form-group col-md-6">
                                    <label for="brn_id"><b style="color: black;">Outlet:</b></label>
                                    <select <%= purchase_dt.length > 0 ? 'disabled' : '' %> name="brn_id" class="form-control s2id" id="brn_id">
                                        <option value="">Select Outlet</option>
                                        <% branch.forEach(dt=> {
                                            var _selected = ''
                                            if(purchase_dt.length > 0)
                                                if(purchase_dt[0].br_id == dt.id)
                                                    _selected = 'selected'
                                            %>
                                            <option value="<%= dt.id %>" <%= _selected %>>
                                                <%= dt.branch_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="supplier_id"><b style="color: black;">Supplier:</b></label>
                                    <select name="id" class="form-control s2id" id="id">
                                        <option value="">Select Supplier</option>
                                        <% sup_dtls.forEach(dt=> {
                                            var _selected = ''
                                            if(purchase_dt.length > 0)
                                                if(purchase_dt[0].supplier_id == dt.id)
                                                    _selected = 'selected'
                                            %>
                                            <option value="<%= dt.id %>" <%= _selected %>>
                                                <%= dt.supplier_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="invoice_no"><b style="color: black;">Invoice No:</b></label>
                                    <input 
                                    type="text" 
                                    name="invoice_no" 
                                    id="invoice_no" 
                                    class="form-control" 
                                    value="<%= purchase_dt.length > 0 ? purchase_dt[0].invoice_no : '' %>"
                                    <%= purchase_dt.length > 0 ? 'readonly' : '' %>
                                        required />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="pay_mode"><b style="color: black;">Payment Mode:</b></label>
                                    <select name="pay_mode" class="form-control s2id" id="pay_mode" required>
                                        <option value="">Select Mode</option>
                                        <% var pay_mode_master = [{id: 'U', name: 'UPI'}, {id: 'C', name: 'Cash'}, {id: 'D', name: 'Card'}, {id: 'R', name: 'Credit'}, {id: 'A', name: 'Advance'}]
                                            pay_mode_master.forEach(dt => {
                                                var _selected = ''
                                                if(purchase_dt.length > 0)
                                                    if(purchase_dt[0].pay_mode == dt.id)
                                                        _selected = 'selected'
                                                %>
                                                <option value="<%= dt.id %>" <%= _selected %>><%= dt.name %></option>
                                            <% })
                                        %>
                                        <!-- <option value="C">Cash</option>
                                        <option value="D">Card</option>
                                        <option value="R">Credit</option>
                                        <option value="A">Advance</option> -->
                                    </select>
                                </div>
                            </div>


                            <h2><i class="fa fa-caret-square-o-left"></i>
                                <b><span class="badge badge-light"
                                        style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i
                                            class="fa fa-plus"></i>&nbsp;<%= purchase_dt.length > 0 ? "Edit Item Details" : "Add Item Details" %></span></b>
                            </h2>


                            <table class="table custom-table-user" id="table" width="50%">
                                <thead>
                                    <!-- <tr>
                                    <th> <label class="form-label user_add"> 
                                        <button type="button" class="btn btn_UR btn-outline-primary btn-air-primary" onclick="add_tb_row()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button></label> 
                                    </th>
                                  
                                </tr> -->
                                </thead>
                                <% if(purchase_item_dt.length > 0){
                                    var i = 1
                                    purchase_item_dt.forEach(pdt => { %>
                                        <tbody>
                                            <tr id="tr_<%= i %>" class="d-flex flex-wrap row">
                                                <!-- <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                                <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                                <td class="tableTd_add_main col-md-4 d-flex justify-content-end my-3"
                                                    style="border-top: 0px !important">
                                                    <button type="button" id="add_btn"
                                                        class="btn btn_UR btn-success btn-air-primary rounded mx-2"
                                                        onclick="add_tb_row()">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
        
                                                    <button type="button" id="del_btn" class="btn btn_UR btn-danger btn-air-primary rounded" disabled
                                                        onclick="del_row('<%= i %>')">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                </td> -->
        
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
                                                        <select name="item_name" class="form-control s2id" id="item_name">
                                                            <option value="">Select Item</option>
                                                            <% item.forEach(dt=> {
                                                                var _selected = ''
                                                                if(purchase_dt.length > 0)
                                                                    if(pdt.item_id == dt.id)
                                                                        _selected = 'selected'
                                                                %>
                                                                <option value="<%= dt.id %>" <%= _selected %>>
                                                                    <%= dt.item_name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                </td>
        
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
        
                                                        <input type="text" name="price" id="price" class="form-control" placeholder="price" value="<%= pdt.price %>" />
                                                    </div>
                                                </td>
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
                                                        <input type="text" name="qty" id="qty" class="form-control" placeholder="Quantity" value="<%= pdt.qty %>"
                                                        <%= purchase_dt.length > 0 ? 'readonly' : '' %>
                                                        required /> 
                                                        
                                                    </div>
                                                </td>
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
                                                        <input type="text" name="cgst" id="cgst" class="form-control" placeholder="CGST" value="<%= pdt.cgst_prtg %>" />
                                                    </div>
                                                </td>
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
                                                        <input type="text" name="sgst" id="sgst" class="form-control" placeholder="SGST" value="<%= pdt.sgst_prtg %>"/>
                                                    </div>
                                                </td>
                                                <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                    <div class="form-group ">
                                                        <select name="unit_name" class="form-control s2id" id="unit_name">
                                                            <option value="">Select Unit</option>
                                                            <% unit.forEach(dt=> {
                                                                var _selected = ''
                                                                if(purchase_dt.length > 0)
                                                                    if(pdt.unit_name == dt.unit_name)
                                                                        _selected = 'selected'
                                                                %>
                                                                <option value="<%= dt.unit_name %>" <%= _selected %>>
                                                                    <%= dt.unit_name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                </td> 
                                            </tr>
                                        </tbody>
                                        <% i++
                                    }) %>
                                <% }else{ %>
                                    <tbody>
                                        <tr id="tr_1" class="d-flex flex-wrap row">
                                            <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                            <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                            <td class="tableTd_add_main col-md-4 d-flex justify-content-end my-3"
                                                style="border-top: 0px !important">
                                                <button type="button" id="add_btn"
                                                    class="btn btn_UR btn-success btn-air-primary rounded mx-2"
                                                    onclick="add_tb_row()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
    
                                                <button type="button" id="del_btn" class="btn btn_UR btn-danger btn-air-primary rounded" disabled
                                                    onclick="del_row(1)">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </td>
    
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
                                                    <!-- <select class="form-control" id="item_id" name="user_id" required="">
                                                        <option selected="" value="">Item</option>
                                                    </select> -->
                                                    <select name="item_name" class="form-control s2id" id="item_name">
                                                        <option value="">Select Item</option>
                                                        <% item.forEach(dt=> { %>
                                                            <option value="<%= dt.id %>">
                                                                <%= dt.item_name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </td>
    
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
    
                                                    <input type="text" name="price" id="price" class="form-control" placeholder="price"
                                                        id="user_id_1" />
                                                </div>
                                            </td>
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
                                                    <input type="text" name="qty" id="qty" class="form-control" placeholder="Quantity"
                                                        id="user_id_1" />
                                                </div>
                                            </td>
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
                                                    <input type="text" name="cgst" id="cgst" class="form-control" placeholder="CGST"
                                                        id="user_id_1" />
                                                </div>
                                            </td>
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
                                                    <input type="text" name="sgst" id="sgst" class="form-control" placeholder="SGST"
                                                        id="user_id_1" />
                                                </div>
                                            </td>
                                            <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                                <div class="form-group ">
                                                    <select name="unit_name" class="form-control s2id" id="unit_name">
                                                        <option value="">Select Unit</option>
                                                        <% unit.forEach(dt=> { %>
                                                            <option value="<%= dt.unit_name %>">
                                                                <%= dt.unit_name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </td>
                                            </td>
    
    
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                            <input type="hidden" name="receipt" value="<%= receipt %>">
                            <div class="form-group col-8 mt-3" style="margin-left: 29vw;">
                                <button class="btn btn-warning" type="submit" value="SUBMIT"
                                    style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function add_tb_row() {
        console.log('add row')
        var next_id = $(`#table tbody tr`).length + 1
        $(`#table tbody:last`).append(`
        <tr id="tr_${next_id}" class="d-flex flex-wrap row">
            <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                        <td class="tableTd_add_main col-md-4 " style="border-top: 0px !important"></td>
                                        <td class="tableTd_add_main col-md-4 d-flex justify-content-end my-3" style="border-top: 0px !important">
                                                <button type="button" class="btn btn_UR btn-success btn-air-primary rounded mx-2"
                                                    onclick="add_tb_row()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            
                                                <button type="button" class="btn btn_UR btn-danger btn-air-primary rounded"
                                                    onclick="del_row(${next_id})">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                        </td>
    
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                            <div class="form-group ">
                                                <select name="item_name" class="form-control s2id" id="item_name">
                                                    <option value="">Select Item</option>
                                                    <% item.forEach(dt=> { %>
                                                        <option value="<%= dt.id %>">
                                                            <%= dt.item_name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                        </div>
                                        </td>
                                       
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                            <div class="form-group ">
                                          
                                            <input type="text" name="price" id="price" class="form-control" placeholder="price"  id="user_id_1"/>
                                        </div>
                                        </td>
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                            <div class="form-group ">
                                                <input type="text" name="qty" id="qty" class="form-control" placeholder="Quantity"  id="user_id_1"/>
                                        </div>
                                        </td>
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                            <div class="form-group ">
                                                <input type="text" name="cgst" id="cgst" class="form-control" placeholder="CGST"  id="user_id_1"/>
                                        </div>
                                        </td>
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important"> 
                                            <div class="form-group ">
                                                <input type="text" name="sgst" id="sgst" class="form-control" placeholder="SGST"  id="user_id_1"/>
                                        </div>
                                        </td>
                                        <td class="tableTd_add_main col-md-4" style="border-top: 0px !important">
                                            <div class="form-group ">
                                                <select name="unit_name" class="form-control s2id" id="unit_name">
                                                    <option value="">Select Unit</option>
                                                    <% unit.forEach(dt=> { %>
                                                        <option value="<%= dt.unit_name %>">
                                                            <%= dt.unit_name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                               
                                            </div>
                                        </td>
                                        
                                    </td>
           
        </tr>
        `);
    }

    function del_row(id){
        console.log("SSSSSSSSSSSSSSSSSSSSSSSSS")

        if (confirm('Are you sure you want to delete?')) {
            if($('#id').val() > 0){
                console.log(id)
                $(`#tr_${id}`).remove()

                // $.ajax({
                //     method: "POST",
                //     url: "/delete_my_project",
                //     data: { id: id },
                //     dataType: "html",
                //     beforeSend: function () {
                //         $(".loader-wrapper").show();
                //     },
                //     success: function (result) {
                //         var res = JSON.parse(result);
                //         // console.log(res);
                //         if (res.suc > 0 && res.msg.length > 0){
                //             $(`#tr_${id}`).remove()
                //         }
                //     },
                //     complete: function () {
                //         $(".loader-wrapper").hide();
                //     }
                // })
            }else{
                $(`#tr_${id}`).remove()
            }
        }
    }
</script>